html {
    font-size: 16px;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #F5F2DC;
}
header {
  position: relative;
  height: 100vh;
  background: linear-gradient(to bottom, #f5f2dc 0%,#e5e5e500 100%);
  padding: 20px 20px;
  box-sizing: border-box;
}
header::after {
  content: "";
  background-image: url("assets/hero-sm.jpg");
  background-size: cover;
  opacity: 0.25;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.navigation-top {
  display: flex;
  justify-content: center;
}
.brand-container {
  display: flex;
  align-items: center;
}
.brand-side-word {
  margin-left: 20px;
  text-align: center;
}
.brand-name {
  font-size: 19px;
  font-weight: bold;
  text-transform: uppercase;
}
.brand-info {
  text-transform: uppercase;
  font-size: 12px;
}
.nav-links {
  display: none;
}

header .title-container {
  position: absolute;
  top: 35%;
}
.title-container .hero-title {
  opacity: 0;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 40px;
  animation: fade-in-up 1s forwards;
}
.title-container .hero-info {
  opacity: 0;
  font-weight: 100;
  line-height: 130%;
  color: #454445;
  margin-bottom: 10px;
  animation: 1s fade-in .75s forwards;
}
.btn {
  display: inline-block;
  padding: 15px 20px;
  background-color: #6B00F4;
  color: #f5f2dc;
  margin-top: 40px;
  text-decoration: none;
  border: none;
}
.btn-contact {
  opacity: 0;
  animation: 1s fade-in 1.25s forwards;
}

/* Transition for Hero Title */
@keyframes fade-in-up{
  from{
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fade-in{
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Projects Section */
.projects {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%236b00f4' fill-opacity='0.04'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  /* box-shadow: 0px 4px 40px black; */
  position: relative;
}
.projects:before {
  content:'';
  width: 100%;
  height: 30px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.336), rgba(255, 255, 255, 0));
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
}
.project-container {
  padding: 90px 20px;
  display: flex;
  flex-direction: column;
}
.image-container {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}
.sticker {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6B00F4;
  color: #F5F2DC;
  text-align: center;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  font-weight: bold;
  transform: rotate(35deg);
  top: -30px;
  right: -30px;
  font-size: 14px;
  animation: .6s pulse alternate infinite;
}
@keyframes pulse {
  from {
    transform: scale(1.05) rotate(30deg);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.651);
  }
  to {
    transform: scale(1) rotate(30deg);
    box-shadow: 0px 2px 8px black;
  }
}
.project-image {
  display: block;
  margin: 0 auto;
}
.project-info-container {
  text-align: center;
  max-width: 600px;
  margin: 40px auto 0px auto;
}
.project-info-container .title {
  font-size: 30px;
  font-weight: bold;
}
.project-info-container .info {
  margin-top: 40px;
  line-height: 140%;
}
.projects .project-divider {
  height: 1px;
  width: 90%;
  margin: 0px auto;
  background-image: linear-gradient(to right, rgba(41,137,216,0) 0%,rgba(69,68,69,1) 50%,rgba(125,185,232,0) 100%);
}
/* Contact Section */
.contact {
  padding: 90px 20px 90px 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%236b00f4' fill-opacity='0.05' fill-rule='evenodd'%3E%3Cpath d='M8 0v20L0 10M16 0v10L8 0M16 10v10H8'/%3E%3C/g%3E%3C/svg%3E");
  position: relative;
}
.contact:before {
  content:'';
  width: 100%;
  height: 30px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.336), rgba(255, 255, 255, 0));
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
}
.contact img{
  display: block;
  margin: 0px auto 0px auto;
  border-radius: 50%;
}
.contact .social-icons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;
}
.contact .social-icons * {
  width: 50px;
  height: 50px;
  background-color: #6B00F4;
}
.contact .contact-title {
  text-align: center;
  margin-top: 90px;
  font-weight: bold;
  font-size: 32px;
}
.contact form {
  margin-top: 40px;
}
.contact form * {
  display: block;
  margin: 0 auto;
  width: 95%;
  min-width: 300px;
  max-width: 500px;
  margin-top: 10px;
  padding: 10px;
}
.contact #txtMessage {
  height: 6em;
  overflow-y: auto;
  resize: none;
}
.purple {
  background-color: #6b00f4;
}

@media screen and (min-width: 700px) {
  header {
    padding: 20px 50px;
  }
  .navigation-top {
    justify-content: space-between;
  }
  .nav-links {
    display: flex;
    width: 250px;
    justify-content: space-between;
    align-items: center;
  }
  .nav-link .nav-anchor {
    text-decoration: none;
    font-weight: bold;
  }
}
@media screen and (min-width: 900px) {
  header {
    padding: 20px 100px;
  }
}
@media screen and (min-width: 1100px) {
  header {
    padding: 20px 150px;
  }
}
@media screen and (min-width: 1350px) {
  header {
    padding: 20px 175px;
  }
  .nav-links {
    width: 325px;
  }
}
/* Projects */
@media screen and (min-width: 1000px) {
  .project-container {
    display: flex;
    flex-direction: row;
    padding: 90px 30px;
    height: 100%;
    justify-content: space-between;
  }
  .image-container {
    margin: 0 auto;
  }
  .project-info-container {
    margin-left: 60px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }
  .project-info-container .info {
    margin-top: 30px;
  }
}

/* FOR TESTING PURPOSES */
/* header, .projects {
  display: none;
} */